---
layout: sidebar
title: Works
sub-title: Writing samples, marketing projects, and other miscellaneous content
category: works
pagination: 
  enabled: true
  category: works
---

<!-- Main -->

	<!-- Post list -->
		<section>

			{% for post in paginator.posts %}

				<article>
					<header>
						<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
						<p style="margin-bottom:1rem;"><i>{{ post.sampletype }} Sample &middot; {{ post.date | date: "%B %-d, %Y" }}</i></p>
					</header>
					<p style="margin-bottom:1rem;">{{ post.excerpt | remove: "<p>" | remove: "</p>" }}<p>
					<a href="{{ site.baseurl }}{{ post.url }}">Read More</a>
					{% comment %} <ul class="actions">
						<li><a href="{{ site.baseurl }}{{ post.url }}" class="button">View</a></li>
					</ul> {% endcomment %}
				</article>

				{% unless forloop.last %}
					<hr class="major" />
				{% endunless %}

			{% endfor %}
			<hr class="major" />
			<div class="row aln-right" style="text-align:right;">
				<div class="col-4" style="width:100%; text-align:right;">
				<!-- Pagination -->
					{% if paginator.total_pages > 1 %}

						<ul class="icons">

							{% if paginator.previous_page == 1 %}
								<li><a href="{{ site.works_path | prepend: site.baseurl | replace: ':num', '' | replace: '//', '/' }}" class="">Prev</a></li>
							{% elsif paginator.previous_page %}
								<li><a href="{{ site.works_path | prepend: site.baseurl | replace: ':num', paginator.previous_page | replace: '//', '/' }}" class="">Prev</a></li>
							{% else %}
								<li><span class="disabled">Prev</span></li>
							{% endif %}

							{% for page in (1..paginator.total_pages) %}

								{% if page == paginator.page %}
									{% assign class = 'page active' %}
								{% else %}
									{% assign class = 'page' %}
								{% endif %}

								{% if page == 1 %}
									{% assign href = site.works_path | prepend: site.baseurl | replace: '/:num', '' %}
								{% else %}
									{% assign href = site.works_path | prepend: site.baseurl | replace: ':num', page %}
								{% endif %}

								<li><a href="{{ href }}" class="{{ class }}">{{ page }}</a></li>

							{% endfor %}
							
							{% if paginator.next_page %}
								<li><a href="{{ site.works_path | prepend: site.baseurl | replace: ':num', paginator.next_page | replace: '//', '/' }}" class="">Next</a></li>
							{% else %}
								<li><span class="disabled">Next</span></li>
							{% endif %}

						</ul>

					{% endif %}
				</div>
			</div>
		</section>
