<!-- Sidebar -->

<aside class="sidebar{% if include.align == 'left' %} alt{% endif %}">

		<section>
			<h2>Recently Added</h2>
			<span class="posts">

				{% for post in paginator.posts limit:3 %}
				{% if post.category == "news" %}
                <a href="{{ post.url }}">{{ post.title }}</a>
                <br/>
                <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
                <hr/>
                {% endif %}
				{% endfor %}

			</span>
		</section>
        <br/>

	<!-- Blurb -->
		{% comment %} <section>
			<h2>Feature Stories</h2>
            {% for post in paginator.posts %}
            {% if post.newstype == "Features" %}
                <a href="{{ post.url }}">{{ post.title }}</a> &middot; <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
            {% endif %}
            {% endfor %}
        </section> <br/>{% endcomment %}
        

        <section>
			<h2>Hard News</h2>
            {% for post in paginator.posts limit:2 %}
            {% if post.newstype == "Hard News" %}
                <a href="{{ post.url }}">{{ post.title }}</a><br/>
                <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
                <hr/>
            {% endif %}
            {% endfor %}
		</section>
</aside>