<!-- Sidebar -->

<aside class="sidebar{% if include.align == 'left' %} alt{% endif %}">

		<section>
			<h2>Recently Added</h2>
			<span class="posts">
				{% for post in site.posts limit:2 %}
				{% if post.category == "works" %}
					<a href="{{ post.url }}">{{ post.title }}</a><br/>
					<span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
					<hr/>
				{% endif %}
				{% endfor %}
			</span>
		</section>

		<!-- Blurbs -->
		<section>
			<h2>Marketing Samples</h2>
			<p>All of the marketing samples provided were completed during my time 
			   as a marketing specialist in the University of Central Missouri's 
			   University Relations department.
			</p>

			<hr/>

			<h2>Writing Samples</h2>
			<p>Consists of creative writing samples, UCM Muleskinner articles and occasional leisure writing pieces.
			</p>
		</section>

	<!-- Featured post -->
		{% comment %} Set featured_post in _config.yml {% endcomment %}
		{% comment %} {% assign post = site.posts | where:"id",site.featured_post | first %}
		{% if post %}

			<section class="featured-posts">
				<h2>Featured post</h2>
				<article>

					{% if post.image %}
						<a href="{{ post.url }}" class="image fit">
							<img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
						</a>
					{% endif %}

					<header>
						<span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
						<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
					</header>
					{{ post.excerpt }}
					<ul class="actions">
						<li><a href="{{ post.url }}" class="button">Continue Reading</a></li>
					</ul>
				</article>
			</section>

		{% endif %} {% endcomment %}

</aside>