<!-- Sidebar -->

<aside class="sidebar{% if include.align == 'left' %} alt{% endif %}">

	<!-- Blurb -->
		<section>
			<h2>Marketing Samples</h2>
			<p>All of the marketing samples provided were completed during my time 
			   as a marketing specialist in the University of Central Missouri's 
			   University Relations department.
			</p>

			<h2>Writing Samples</h2>
			<p>Writing pieces were written during tenure at UCM, mostly as pieces in
			   the Muleskinner.
			</p>
		</section>

	<!-- Featured post -->
		{% comment %} Set featured_post in _config.yml {% endcomment %}
		{% comment %} {% assign post = site.posts | where:"id",site.featured_post | first %}
		{% if post %}

			<section class="featured-posts">
				<h2>Featured post</h2>
				<article>

					{% if post.image %}
						<a href="{{ post.url }}" class="image fit">
							<img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
						</a>
					{% endif %}

					<header>
						<span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
						<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
					</header>
					{{ post.excerpt }}
					<ul class="actions">
						<li><a href="{{ post.url }}" class="button">Continue Reading</a></li>
					</ul>
				</article>
			</section>

		{% endif %} {% endcomment %}

	<!-- Posts -->
		<section>
			<h2>Recently Added</h2>
			<ul class="posts">

				{% for post in paginator.posts limit:2 %}
				{% if post.category == "samples" %}
					<li>
						<a href="{{ post.url }}">{{ post.title }}</a>
						<span class="date">{{ post.date | date: "%B %-d, %Y" }} &middot; {{ post.sampletype }}</span>
					</li>
				{% endif %}
				{% endfor %}

			</ul>
		</section>
</aside>