<!-- Footer -->

<section id="footer">
	<ul class="icons">
		<li><a href="https://www.kyoutv.com/home/author/leah-kemple/" class=""><span class="label">KYOU News</span></a></li>
		<li><a href="https://magicconchmusic.blogspot.com/" class=""><span class="label">Blog</span></a></li>
		<li><a href="http://www.digitalburg.com/muleskinner/author/lkemple/" class=""><span class="label">Muleskinner</span></a></li>
		<li><a href="https://www.youtube.com/playlist?list=PLYXVRBRXDkJOM6uXQgJJ-6Hhf7dffjrD_" class=""><span class="label">Side Tracked</span></a></li>
	</ul>
	<p class="copyright">
		&copy; LeahKemple.com<br/>
		Contact: <a href="mailto:leah.l.kemple@gmail.com">leah.l.kemple@gmail.com</a><br/>
		Development by: <a href="http://www.jakekemple.com">Jake Kemple</a>
	</p>
</section>