<!-- Header -->

<section id="header" {% if page.url == "/" %}class="alt"{% endif %}>

	<!-- Logo -->
		<a href="{{ site.baseurl }}/" class="logo"><strong>Home</strong></a>

	<!-- Nav -->
		<nav id="nav">
			<ul>
				<li>
					<a href="#">News</a> {% comment %}class="icon fa-angle-down"{% endcomment %}
					{% comment %} <ul>
						<li><a href="{{ site.baseurl }}/elements">Features</a></li>
						<li><a href="{{ site.baseurl }}/generic">Hard News</a></li>
						<li><a href="{{ site.baseurl }}/generic">Sports</a></li>
						<li><a href="{{ site.baseurl }}/elements">Anchoring</a></li>
					</ul> {% endcomment %}
				</li>
				<li><a href="{{ site.baseurl }}/samples">Writing/Marketing</a></li>				
				<li><a href="{{ site.baseurl }}/gallery">Photography</a></li>
				<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
				<li>
					<a href="https://www.facebook.com/leah.kemplekyou.3" class="social-icons icon fa-facebook"><span class="label">Facebook</span></a>
					<a href="https://twitter.com/kyouleah?lang=en" class="social-icons icon fa-twitter"><span class="label">Twitter</span></a>
					<a href="https://www.instagram.com/leahkemple/" class="social-icons icon fa-instagram"><span class="label">Instagram</span></a>
				</li>
			</ul>
		</nav>

</section>

<section id="alert-bar">
	<p>ATTENTION: SITE UNDER DEVELOPMENT</p>
</section>