---
layout: default
---


<!-- Main -->
<section class="wrapper style1">
	<div class="inner">
		<div class="row gtr-200">
			<div class="col-8 col-12-medium">
				{{ content }}
			</div>
			<div class="col-4 col-12-medium">
				{% if page.category == "samples" %}
					{% include components/sample-sidebar.html align=page.sidebar-align %}
				{% elsif page.category == "news" %}
					{% include components/news-sidebar.html align=page.sidebar-align %}
				{% else %}
					{% include components/sidebar.html align=page.sidebar-align %}
				{% endif %}
			</div>
		</div>
	</div>
</section>