---
layout: default
---

{% comment %}

	Faction by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Sidebar layout

	Description:

		A layout where content is displayed alongside the sidebar.
		Allows defining the sidebar orientation on each page.

	Example:

		---
		layout: sidebar
		sidebar-align: left
		---

{% endcomment %}

<!-- Main -->
<section class="wrapper style1">
	<div class="inner">
		<div class="row gtr-200">
			<div class="col-8 col-12-medium">
				{{ content }}
			</div>
			<div class="col-4 col-12-medium">
				{% if page.category == "samples" %}
					{% include components/sample-sidebar.html align=page.sidebar-align %}
				{% else %}
					{% include components/sidebar.html align=page.sidebar-align %}
				{% endif %}
			</div>
		</div>
	</div>
</section>